<nav class="navbar">
    <a href="/">
      <img src="https://dummyimage.com/150x40/000/fff">
    </a>
    <ul>
      <li>
        <a>미소</a>
        <div></div>
      </li>
      <li class="active">
        <a>미소</a>
        <div></div>
      </li>
      <li>
        <a>미소</a>
        <div></div>
      </li>
      <li>
        <a>미소</a>
        <div></div>
      </li>
      <li>
        <a>미소</a>
        <div></div>
      </li>
    </ul>
    <ul>
      <li>
        <a>미소</a>
        <div></div>
      </li>
      <li>
        <a>미소</a>
        <div></div>
      </li>
    </ul>
</nav>
